.vscode/
.scannerwork/
.sonar/
base1c/**/*.cf*
build/
out/
.env
src/**/ConfigDumpInfo.xml
src/**/SYNC_COMMIT
src/**/Configuration/ParentConfigurations/*.cf
src/**/Configuration/ParentConfiguration.bin
tools/scripts/upd_ib_*.cmd
tools/scripts/ext_ib2src_*.cmd
tools/scripts/ext_src2ib_*.cmd
